services:
  telemetry_api:
    build: 
      context: ../SampleStack.Telemetry.Api/
      dockerfile: ./Dockerfile
    container_name: telemetry_api
    env_file: env_file.env  
    ports:
      - "${API_HTTP_PORT}:${API_HTTP_PORT}"
    depends_on:
      - otel_collector
      - data_prepper
      - opensearch

  telemetry_app:
    build: 
      context: ./
      dockerfile: ./Dockerfile
    container_name: telemetry_app
    env_file: env_file.env
    depends_on:
      - telemetry_api

  otel_collector:
    image: otel/opentelemetry-collector:0.94.0
    container_name: collector
    hostname: collector
    env_file: env_file.env  
    restart: unless-stopped
    ports:
      - "4317:4317" #gprc
      - "55679:55679" #healthcheck
      - "55680:55680" #oltp
    volumes:
      - ./collector/config.yaml:/etc/otel-collector-config.yaml
    depends_on:
      - data_prepper

  data_prepper:
    image: opensearchproject/data-prepper:2.6.1
    container_name: data-prepper
    hostname: data-prepper
    env_file: env_file.env  
    restart: unless-stopped
    ports:
      - "2021:2021"
      - "21890:21890"
      - "21891:21891"
      - "21892:21892"
    volumes:
      - ./data-prepper/pipelines.yaml:/usr/share/data-prepper/pipelines/pipelines.yaml
  
  opensearch:
    image: opensearchproject/opensearch:2.11.1
    container_name: opensearch
    hostname: opensearch
    env_file: env_file.env
    restart: unless-stopped
    environment:
      - discovery.type=single-node
      - "http.cors.enabled=true"
      - "http.cors.allow-origin=*"
      - "http.cors.allow-credentials=true"
      - "http.cors.allow-methods=OPTIONS,HEAD,GET,POST,PUT,DELETE"
      - "http.cors.allow-headers=Authorization,Content-Type"
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=admin
    ulimits:
      memlock:
        soft: -1
        hard: -1
      nofile:
        soft: 65536
        hard: 65536
    ports:
      - "9200:9200"
      - "9600:9600"
    volumes:
      - ./data:/usr/share/opensearch/data

  opensearch_dashboards:
    image: opensearchproject/opensearch-dashboards:2.11.1
    container_name: dashboards
    hostname: dashboards
    env_file: env_file.env  
    restart: unless-stopped
    ports:
      - "5601:5601"
    depends_on:
      - opensearch
      